@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root{
    --primary-color: #040714;
    --text-color: #fff;
    --light-text-color: grey;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body{
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: 'Roboto'
}